<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> this app use mapbox for geocodie and weatherstack to get location and weatherstack</p>
        <img class="portrait" src="/images/Mark.jpg">
    </div>
    
    {{>footer}}
</body>

</html>