<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>not found </title>
</head>
<body>
    {{>header}}
    {{name}}
    <p> {{errorMsg}} </p>
    {{>footer}}
</body>
</html>